body {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 13px;
    overflow-wrap: break-word;
}

jumbotron {
    background: #1F1C2C; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #1F1C2C, #928DAB);
    background: -o-linear-gradient(right, #1F1C2C, #928DAB);
    background: linear-gradient(to left, #1F1C2C, #928DAB);

 /* Chrome 10-25, Safari 5.1-6 */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}